body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.controls {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 8px;
    z-index: 999;
}

.controls button {
    background: rgba(15, 15, 15, 0.2);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(17, 16, 16, 0.4);
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 4px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100vw;
    height: 100vh;
    gap: 2px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12vmin;
    font-weight: 900;
    cursor: pointer;
    position: relative;
    user-select: none;
    overflow: hidden;
}

.color1 {
    background: #800040;
    color: white;
}

.color2 {
    background: #b30000;
    color: white;
}

.color3 {
    background: #e6bf3a;
    color: white;
}

.color4 {
    background: #dddddd;
    color: black;
}

.cell img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.cell.open img {
    display: block;
}

.cell.open span {
    display: none;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    z-index: 10000;
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 80px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10001;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}